
<hr>
<div class="perfil">
    <div>
        <div class="card" >
            <div class="card-header">
                <h4>Mi perfil</h4>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Nombre: {{miUsuario.nombre}}</li>
                <li class="list-group-item">Apellidos: {{miUsuario.apellido}}</li>
                <li class="list-group-item">Correo: {{miUsuario.correo}}</li>  
            </ul>
        </div>
        <input  placeholder="Cambiar contraseña" type ="password">
        <button class="btn btn-primary">Enviar</button>
    </div>
    <img src="https://th.bing.com/th/id/OIP.USP1T_5fjD1VcqeFBkbNDwHaHa?pid=ImgDet&rs=1">
</div>
