<div class="container">
  <div class="d-flex justify-content-between ">
    <h1 class="outlined-text font-weight-bold">Banco Peregrino</h1>
    <p class="outlined-text font-weight-bold"> Nuestras comisiones te meten un buen pepino</p>
  </div>
</div>
<hr>

<nav class="main-menu nav justify-content-between">
  <ul>
    <li><a routerLink="/pages/dashboard">
      <mat-icon>home</mat-icon>
    </a></li>
    <li><a routerLink="/pages/perfil">Mi Perfil</a></li>
    <li><a routerLink="/pages/saldo">Saldo actual</a></li>
    <li class="dropdow-menu">
      <p>Transferencias</p>
      <ul class="submenu">
        <li><a routerLinkActive="active-menu" routerLink="/pages/nueva-transferencia">Nueva transferencia</a></li>
        <li><a routerLink="/pages/transferencias-enviadas">Enviadas</a></li>
        <li><a routerLink="/pages/transferencias-recibidas">Recibidas</a></li>
      </ul>
    </li>
  </ul>
  <ul>
    <li><a routerLink="/auth/login">Iniciar sesión</a></li>
    <li class="cerrarSesion" (click)="cerrarSesion()">
      <a routerLink="/auth/login">
        Cerrar sesión
      </a></li>
  </ul>
</nav>

<div >
  <router-outlet></router-outlet>
</div>
